Repository opencontainers/runc, pull requests merged in 2023-01, with the labels that each got.

#3700 tests/integration/get-images.sh: fix busybox.tar.xz URL
  tests/integration/get-images.sh
Labels: area/ci, backport/todo/1.1

#3588 seccomp: refactor flags support; add flags to features, set SPEC_ALLOW by default
  features.go
  libcontainer/seccomp/config.go
  libcontainer/seccomp/patchbpf/enosys_linux.go
  libcontainer/seccomp/seccomp_linux.go
  libcontainer/seccomp/seccomp_unsupported.go
  libcontainer/specconv/spec_linux.go
  tests/integration/seccomp.bats
  types/features/features.go
Labels: kind/refactor, impact/changelog, area/seccomp

#3546 checkpoint/restore: implement --manage-cgroups-mode ignore
  checkpoint.go
  libcontainer/container_linux.go
  man/runc-checkpoint.8.md
  man/runc-restore.8.md
  restore.go
  tests/integration/checkpoint.bats
  tests/integration/helpers.bash
Labels: kind/bug, area/ci, area/checkpoint-restore, impact/changelog, kind/feature
