Repository opencontainers/runc, pull requests merged in 2024-09, with the labels that each got.

#4391 [1.1] seccomp: patchbpf: always include native architecture in stub
  libcontainer/seccomp/patchbpf/enosys_linux.go
  libcontainer/seccomp/patchbpf/enosys_linux_test.go
Labels: area/seccomp, backport/1.1-pr

#4395 libct: Signal: honor RootlessCgroups
  libcontainer/container_linux.go
  libcontainer/init_linux.go
  libcontainer/state_linux.go
  tests/integration/kill.bats
Labels: area/rootless, area/cgroupv1

#4398 runc create/run: warn on rootless + shared pidns + no cgroup
  libcontainer/cgroups/cgroups.go
  libcontainer/cgroups/fs/fs.go
  libcontainer/cgroups/fs2/fs2.go
  libcontainer/configs/validate/rootless.go
  libcontainer/process_linux.go
  libcontainer/specconv/spec_linux.go
  tests/integration/create.bats
  tests/integration/helpers.bash
Labels: area/rootless
